<div class="text-center">
  <h2>{{article}}</h2>
  <p>{{description}}</p>
  <p>Created by {{author}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Submit button</button>
  </p>
</div>
